
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: peru;
  color: white;
  line-height: 1.6;
}


header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}


h1, h2, h3 {
  line-height: 1.2;
}


nav a {
  text-decoration: none;
  color: black;
  margin-right: 12px;
}

nav a:hover {
  text-decoration: underline;
}


img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
